body{
	display: flex;
	background-color: #1D397C;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}
.buttons{
	justify-content: center; 
	flex-direction: column;
	text-align: center
}
.left_column{
	width:49.9%;
	height: 500px;
	display: flex;
	background-color: #BAFFB7;
	justify-content: center; 
	flex-direction: column;
	text-align: center;
	border: 1px solid #000;
}